body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 100%;
    margin: 0px, 150px, 0px, 150px
}

#home-title {
    border-top: solid;
	position: relative;
	text-align: center;
	font-weight: bolder;
	font-size: 1.1rem;
	padding-top: 8px;
	padding-bottom: 8px;
}

.sign-up {
    text-align: center;
    padding-bottom: 15px;
}

