${memberHeader}
<!-- <h1>Hi ${username}!</h1> -->
<br>
<div id="board">
    <!-- <div class="card">
        <div class="title">Chicken</div>
        <div class="image"><img src="image01.jpg" alt="chicken"></div>
        <div class="likes">Likes: 10</div>
    </div>  -->
    <a href="#" class="like-counter">Like</a><span class="click-text"><a id="clicks"></span>
 </div> 
<script src="./scripts/hammer.js"></script>
<script src="./scripts/carousel.js"></script>
<script src="./scripts/likes.js"></script>
${memberFooter}